#login .logo {
    font-size: 40px;
    line-height: 70px;
    /* font-weight: 600; */
    padding-bottom: 18px;
    margin-top: 108px;
    color: #aaa;
}

#login .login-form {
  width: 320px;
}
#login .login-form-forgot {
  float: right;
}
#login .login-form-button {
  width: 100%;
}
